# Ignore all files outside of the 'src' folder
/*
!/src/

# Include specific file types inside the 'src' folder
!/src/**/*.css
!/src/**/*.js
!/src/**/*.json
!/src/**/*.jsx
!/src/**/*.ts
!/src/**/*.tsx
!/src/**/*.yml
